In [44]:
#librerias
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [45]:
#Conectar el motor al archivo de la base de datos a usar
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

# Extract

In [46]:
# SQL Expression Language crea metadatos que contienen objetos que definen la tabla de datos.
metadata = MetaData()

# Este método instancia las tablas que ya
# existe en la base de datos, a la que está conectado el motor.
metadata.create_all(engine)

# Revisando esto, podemos ver la estructura de la tabla y los tipos de variables para la tabla de datos.
inspector = inspect(engine)

#Revisé las columnas en la tabla. 
inspector.get_columns('playlists')

[{'autoincrement': 'auto',
  'default': None,
  'name': 'PlaylistId',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Name',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=120)}]

# Transform

In [47]:
#seleccionar todos los campos de la tabla.

# Ejecutemos SQL sin procesar en algunas tablas usando SQLAlchemy
with engine.connect() as con:
    
    rs = con.execute('select * from playlists')
    
    for row in rs:
        print(row)
# No olvide cerrar su conexión a la base de datos cuando finalice la consulta
con.close()

# Nota: Use LIMIT n para limitar el número de filas devueltas. No hay problema con esta pequeña mesa.

(1, 'Music')
(2, 'Movies')
(3, 'TV Shows')
(4, 'Audiobooks')
(5, '90’s Music')
(6, 'Audiobooks')
(7, 'Movies')
(8, 'Music')
(9, 'Music Videos')
(10, 'TV Shows')
(11, 'Brazilian Music')
(12, 'Classical')
(13, 'Classical 101 - Deep Cuts')
(14, 'Classical 101 - Next Steps')
(15, 'Classical 101 - The Basics')
(16, 'Grunge')
(17, 'Heavy Metal Classic')
(18, 'On-The-Go 1')

In [48]:
# Consulta especifica para los datos que necesito.

with engine.connect() as con:
    
    rs = con.execute("""select PlaylistId, Name as NamePlaylist from playlists;""")
        
con.close()

# Load

In [49]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
import pandas as pd
df = pd.read_sql_query("""select PlaylistId, Name as NamePlaylist from playlists;""", con=engine.connect())

In [50]:
#Exportar el archivo en un formato a su elección.
df.to_csv('dimPlaylists.csv')