In [30]:
#librerias
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [31]:
#Conectar el motor al archivo de la base de datos a usar
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

# Extract

In [32]:
# SQL Expression Language crea metadatos que contienen objetos que definen la tabla de datos.
metadata = MetaData()

# Este método instancia las tablas que ya
# existe en la base de datos, a la que está conectado el motor.
metadata.create_all(engine)

# Revisando esto, podemos ver la estructura de la tabla y los tipos de variables para la tabla de datos.
inspector = inspect(engine)

#Revisé las columnas en la tabla. 
inspector.get_columns('genres')

[{'autoincrement': 'auto',
  'default': None,
  'name': 'GenreId',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Name',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=120)}]

# Transform

In [33]:
#seleccionar todos los campos de la tabla.

# Ejecutemos SQL sin procesar en algunas tablas usando SQLAlchemy
with engine.connect() as con:
    
    rs = con.execute('select * from genres')
    
    for row in rs:
        print(row)
# No olvide cerrar su conexión a la base de datos cuando finalice la consulta
con.close()

# Nota: Use LIMIT n para limitar el número de filas devueltas. No hay problema con esta pequeña mesa.

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
(11, 'Bossa Nova')
(12, 'Easy Listening')
(13, 'Heavy Metal')
(14, 'R&B/Soul')
(15, 'Electronica/Dance')
(16, 'World')
(17, 'Hip Hop/Rap')
(18, 'Science Fiction')
(19, 'TV Shows')
(20, 'Sci Fi & Fantasy')
(21, 'Drama')
(22, 'Comedy')
(23, 'Alternative')
(24, 'Classical')
(25, 'Opera')

In [34]:
# Consulta especifica para los datos que necesito.

with engine.connect() as con:
    
    rs = con.execute("""select GenreId, Name as NameGenre from genres;""")
        
con.close()

# Load

In [35]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
import pandas as pd
df = pd.read_sql_query("""select GenreId, Name as NameGenre from genres;""", con=engine.connect())

In [36]:
#Exportar el archivo en un formato a su elección.
df.to_csv('dimGenres.csv')