In [22]:
#librerias
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [23]:
#Conectar el motor al archivo de la base de datos a usar
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

# Extract

In [24]:
# SQL Expression Language crea metadatos que contienen objetos que definen la tabla de datos.
metadata = MetaData()

# Este método instancia las tablas que ya
# existe en la base de datos, a la que está conectado el motor.
metadata.create_all(engine)

# Revisando esto, podemos ver la estructura de la tabla y los tipos de variables para la tabla de datos.
inspector = inspect(engine)

#Revisé las columnas en la tabla. 
inspector.get_columns('employees')

[{'autoincrement': 'auto',
  'default': None,
  'name': 'EmployeeId',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'LastName',
  'nullable': False,
  'primary_key': 0,
  'type': NVARCHAR(length=20)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'FirstName',
  'nullable': False,
  'primary_key': 0,
  'type': NVARCHAR(length=20)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Title',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=30)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'ReportsTo',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'BirthDate',
  'nullable': True,
  'primary_key': 0,
  'type': DATETIME()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'HireDate',
  'nullable': True,
  'primary_key': 0,
  'type': DATETIME()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Address',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=70)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'City',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=40)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'State',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=40)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Country',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=40)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'PostalCode',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=10)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Phone',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=24)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Fax',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=24)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Email',
  'nullable': True,
  'primary_key': 0,
  'type': NVARCHAR(length=60)}]

# Transform

In [25]:
#seleccionar todos los campos de la tabla.

# Ejecutemos SQL sin procesar en algunas tablas usando SQLAlchemy
with engine.connect() as con:
    
    rs = con.execute('select * from employees')
    
    for row in rs:
        print(row)
# No olvide cerrar su conexión a la base de datos cuando finalice la consulta
con.close()

# Nota: Use LIMIT n para limitar el número de filas devueltas. No hay problema con esta pequeña mesa.

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

In [26]:
# Consulta especifica para los datos que necesito.

with engine.connect() as con:
    
    rs = con.execute("""select EmployeeId, LastName, FirstName, Title, BirthDate, HireDate,
Address, City, State, Country, PostalCode, Phone,
Fax, Email from employees;""")
        
con.close()

# Load

In [28]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
import pandas as pd
df = pd.read_sql_query("""select EmployeeId, LastName, FirstName, Title, BirthDate, HireDate,
Address, City, State, Country, PostalCode, Phone,
Fax, Email from employees;""", con=engine.connect())

In [29]:
#Exportar el archivo en un formato a su elección.
df.to_csv('dimEmployees.csv')